<div class="container">
  <div>
    <h1>
      名前　：<%= @user.name %>
    </h1>
    <h1>
      メール：<%= @user.email %>
    </h1>
  </div>

  <div class="margin-top30">
    <% if current_user == @user %>
      <%= link_to "Settings", edit_user_path(current_user), class: "btn btn-lg btn-success" %>
    <% end %>
  </div>

  <div class="margin-top30">
    <%= link_to "登録者一覧", users_path, class: "btn btn-lg btn-success" %>
  </div>

  <div class="margin-top30">
    <%= link_to "会社情報", clients_index_path, class: "btn btn-lg btn-success" %>
  </div>
</div>

<div id="app">
  <%= javascript_pack_tag 'user_vue' %>
</div>
