<header class="bg-warning">
  <div class="container">
    <nav>
      <%= link_to '#', id: "logo" do %>
      　<%= image_tag "app-title.png", class: 'sized' %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '#' %></li>
        <li><%= link_to "Help",   '#' %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
